<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>User type:</strong>
    <%= user.user_type %>
  </p>

  <p>
    <strong>School:</strong>
    <%= user.school_id %>
  </p>



</div>
